# Rules

- This is a Nx monorepo.
- I'm using mainly Angular.
- All the apps are under /apps.
- All the libraries are under /libs.

## General Code Style & Formatting

- Use English for all code and documentation.
- Use Catalan or Spanish to speak with me.
- Always declare the type of each variable and function (parameters and return value).
- Avoid using any.
- Create necessary types.
- Use JSDoc to document public classes and methods.
- Don't leave blank lines within a function.
- One export per file.

## Naming Conventions

- Use PascalCase for classes.
- Use camelCase for variables, functions, and methods.
- Use kebab-case for file and directory names.
- Use UPPERCASE for environment variables.
- Avoid magic numbers and define constants.

## Functions & Logic

- Keep functions short and single-purpose (<20 lines).
- Use early returns to simplify logic.
- Extract utility functions to reduce nesting.
- Prefer higher-order functions (map, filter, reduce) over loops.
- Use concise arrow functions for simple cases (<3 instructions), and named functions otherwise.
- Use default parameter values instead of null/undefined checks.
- Use object destructuring to simplify parameter handling.
- Prefer RO-RO (Receive Object, Return Object) for passing and returning multiple parameters.

## Data Handling

- Avoid excessive use of primitive types; encapsulate data in composite types.
- Avoid placing validation inside functions—use classes with internal validation instead.
- Prefer immutability for data:
- Use readonly for immutable properties.
- Use as const for literals that never change.
