@use '@angular/material' as mat;

:host {
  @include mat.sidenav-overrides(
    (
      container-background-color: var(--transparent),
      container-shape: 0,
      container-width: 285px,
    )
  );

  mat-sidenav,
  mat-sidenav-content {
    scrollbar-color: var(--primary-400) var(--primary-100);
  }
}
