<div class="grid grid-rows-[auto_1fr_auto] h-screen max-w-[2100px] mx-auto">
  <eco-header [formConfig]="searchFormConfig" (submitEvent)="onSearchSubmit($event)">
    <ng-container primaryMenu [ngTemplateOutlet]="menu.primaryMenu()" />
    <ng-container secondaryMenu [ngTemplateOutlet]="menu.secondaryMenu()" />
  </eco-header>

  <mat-sidenav-container class="h-full overflow-auto mx-sm">
    <mat-sidenav
      #sidenav
      mode="side"
      fixedInViewport="true"
      fixedTopGap="100"
      fixedBottomGap="85"
      position="start"
      [opened]="isSidenavOpen()">
      <router-outlet
        name="sidenav"
        (activate)="onSidenavActivate()"
        (deactivate)="onSidenavDeactivate()"></router-outlet>
    </mat-sidenav>
    <mat-sidenav-content #sidenavContent class="p-6">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <eco-footer class="mt-3"></eco-footer>
</div>

<eco-menu #menu />
