<div class="grid grid-rows-[auto_1fr_auto] h-screen">
  <eco-header [formConfig]="searchFormConfig" (submitEvent)="onSearchSubmit($event)">
    <ng-container primaryMenu [ngTemplateOutlet]="menu.primaryMenu()" />
    <ng-container secondaryMenu [ngTemplateOutlet]="menu.secondaryMenu()" />
  </eco-header>

  <mat-sidenav-container class="h-full overflow-auto p-8">
    <mat-sidenav
      #sidenav
      mode="side"
      fixedInViewport="true"
      fixedTopGap="105"
      fixedBottomGap="85"
      position="start"
      [opened]="isSidenavOpen()">
      <router-outlet
        name="sidenav"
        (activate)="onSidenavActivate()"
        (deactivate)="onSidenavDeactivate()"></router-outlet>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <eco-footer></eco-footer>
</div>

<eco-menu #menu />
