@use '@angular/material' as mat;

:host {
  @include mat.toolbar-overrides(
    (
      standard-height: 70px,
      mobile-height: 60px,
      container-background-color: var(--transparent),
    )
  );

  .header-icon {
    height: 36px;
    width: 36px;
    font-size: 36px;
  }
}
