@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:host {
  @include mat.toolbar-overrides(
    (
      standard-height: 70px,
      mobile-height: 60px,
      container-background-color: var(--transparent),
    )
  );

  @include mat.icon-button-overrides(
    (
      icon-color: var(--primary-600),
    )
  );

  .header-icon {
    @include mat.icon-overrides(
      (
        color: var(--primary-600),
      )
    );
    height: 36px;
    width: 36px;
    font-size: 36px;
  }
}
