<mat-toolbar class="shadow-sm" role="banner">
  <div class="mx-auto content-container flex gap-4 md:gap-12 flex-row items-center">
    <a
      routerLink="/"
      class="flex items-center gap-2 font-semibold tracking-wide text-primary-500"
      [attr.aria-label]="'store-title' | translate">
      <mat-icon class="header-icon" aria-hidden="true">eco_logo</mat-icon>
      <h1>{{ 'store-title' | translate }}</h1>
    </a>

    <div class="flex h-full items-center">
      <ng-content select="[primaryMenu]" />
    </div>

    @let getFormConfig = formConfig().getConfig();
    @let getSubmitFormConfig = formConfig().getSubmitFormConfig?.() || {};

    <plastik-shared-form-feature
      [fields]="getFormConfig"
      [model]="{ query: '' }"
      [submitConfig]="getSubmitFormConfig"
      (changeEvent)="onSubmit($event)"></plastik-shared-form-feature>

    <ng-content select="[secondaryMenu]" />
  </div>
</mat-toolbar>
