@if (activityStore.isActive()) {
  <plastik-shared-activity-ui-overlay
    class="fixed z-9999 bg-[#F9F9F5]/20 shadow-sm/50 backdrop-blur-[2px]"
    animate.enter="fade-in"
    animate.leave="fade-out">
    <div class="flex flex-col items-center justify-center gap-6 p-12">
      <!-- Main container -->
      <div class="relative flex items-center justify-center w-24 h-24">
        <!-- Ripples -->
        <div class="absolute inset-0 bg-primary-900 rounded-full opacity-20 ping-slow"></div>
        <div class="absolute inset-0 bg-primary-900 rounded-full opacity-30 animate-pulse"></div>

        <!-- Icon container -->
        <div class="p-5 rounded-full bg-primary-100 shadow-lg backdrop-blur-sm">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="text-primary-700 breathing"
            aria-hidden="true">
            <path
              d="M11 20A7 7 0 0 1 9.8 6.1C15.5 5 17 4.48 19 2c1 2 2 4.18 2 8 0 5.5-4.78 10-10 10Z"
              class="fill-primary-700"></path>

            <path d="M2 21c0-3 1.85-5.36 5.08-6C9.5 14.52 12 13 13 12" fill="none"></path>
          </svg>
        </div>
      </div>

      <!-- Loading text -->
      <span class="text-primary-900 font-bold tracking-[0.2em] text-xs uppercase animate-pulse">
        {{ 'loading-data' | translate }}
      </span>
    </div>
  </plastik-shared-activity-ui-overlay>
}

<router-outlet />
