:root {
  --base-size: 1rem;
  --scale: 1.25;
  --h1: calc(var(--h2) * var(--scale));
  --h2: calc(var(--h3) * var(--scale));
  --h3: calc(var(--h4) * var(--scale));
  --h4: calc(var(--h5) * var(--scale));
  --h5: calc(var(--h6) * var(--scale));
  --h6: var(--base-size);
  --sub: calc(var(--base-size) * 0.7);
  --tiny: calc(var(--sub) * 0.5);
  --xl: calc(var(--h1) * var(--scale));
  --xxl: calc(var(--xl) * var(--scale));

  /* Colors */
  --primary: var(--mat-sys-primary);
  --primary-light: var(--mat-sys-primary-container);
  --primary-lighter: var(--mat-sys-primary-fixed);
  --primary-dark: var(--mat-sys-on-primary);
  --primary-darker: var(--mat-sys-on-primary-container);
  --secondary: var(--mat-sys-secondary);
  --secondary-light: var(--mat-sys-secondary-container);
  --secondary-lighter: var(--mat-sys-secondary-fixed);
  --secondary-dark: var(--mat-sys-on-secondary);
  --secondary-darker: var(--mat-sys-on-secondary-container);
  --white: #ffffff;
  --black: #000000;

  /* Spacing */
  --spacing-tiny: var(--tiny);
  --spacing-sub: var(--sub);
  --spacing-sm: var(--h5);
  --spacing-md: var(--h3);
  --spacing-lg: var(--h1);
  --spacing-xl: var(--xl);
  --spacing-xxl: var(--xxl);

  /* Font Family */
  --sans-serif: var(--mat-sys-brand-font-family);
  --plain-serif: var(--mat-sys-plain-font-family);
  /* Font Size */
  --font-size-tiny: var(--tiny);
  --font-size-sm: var(--sub);
  --font-size-base: var(--base-size);
  --font-size-md: var(--h5);
  --font-size-lg: var(--h4);
  --font-size-xl: var(--h3);
  --font-size-xxl: var(--h2);

  /* Linear progress activity */
  --plastik-mdc-linear-progress-track-height: var(--spacing-tiny);
  --plastik-mdc-linear-progress-active-indicator-height: var(--spacing-tiny);
  --plastik-mdc-linear-progress-active-indicator-color: rgb(var(--secondary-dark));
  --plastik-mdc-linear-progress-track-color: rgb(var(--secondary-light));
  /* Table */
  --plastik-mdc-table-row-min-height: 120px;
  --plastik-mdc-table-row-max-height: 160px;
  /* Notification Snackbar Boxes */
  --plastik-error-notification-box-color: rgb(195, 6, 6);
  --plastik-info-notification-box-color: rgb(14, 122, 190);
  --plastik-warning-notification-box-color: rgb(221, 148, 20);
  --plastik-success-notification-box-colors: rgb(22, 134, 40);
  /* Mat Expansion Panel */
  --mat-expansion-header-collapsed-state-height: 4rem;
}
