@use '@angular/material' as mat;

@include mat.core();

$nasa-images-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$indigo-palette),
      accent: mat.define-palette(mat.$pink-palette),
    ),
  )
);

@include mat.all-component-themes($nasa-images-theme);

@import 'loading';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Colors */
    --primary-light: #105bd8;
    --primary: #19418c;
    --primary-dark: #061f4a;
    --secondary-light: #e59892;
    --secondary: #dd361c;
    --secondary-dark: #c62d1f;

    --green: #168628;

    --error: var(--secondary-dark);
    --info: var(--primary-light);
    --warning: var(--secondary-light);
    --success: var(--green);

    /* Spacing */
    --spacing-tiny: 0.25rem;
    --spacing-sub: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 1.5rem;
    --spacing-lg: 2rem;
    --spacing-xl: 3rem;
    --spacing-xxl: 6rem;

    /* Font Size */
    --font-size-sub: 0.7rem;
    --font-size-sm: 0.85rem;
    --font-size-base: 1rem;
    --font-size-md: 1.4rem;
    --font-size-lg: 1.8rem;
    --font-size-xl: 2.2rem;
    --font-size-xxl: 2.6rem;
  }

  html {
    font-size: 14px;
    @apply box-border;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  @screen sm {
    html {
      font-size: 13px;
    }
  }

  body {
    @apply text-gray-10 font-light font-poppins;
  }

  h1 {
    @apply text-xxl;
  }

  h2 {
    @apply text-xl text-primary-dark;
  }

  h3 {
    @apply text-lg;
  }

  h4 {
    @apply text-md;
  }

  ul {
    @apply list-disc list-inside;
  }

  li {
    @apply ml-sub mb-sub;
  }

  a {
    @apply text-secondary-dark;
    &:hover {
      @apply underline underline-offset-2;
    }
  }
}

// mat progress bar
.mat-mdc-progress-bar {
  @apply bg-secondary-light;
  --mdc-linear-progress-track-height: var(--spacing-tiny);
  --mdc-linear-progress-active-indicator-color: var(--secondary-dark);
}

// mat sidenav
.mat-sidenav .mat-mdc-list-item:not(.mat-mdc-list-item-interactive) {
  @apply cursor-pointer;
}

// mat paginator
.mat-mdc-paginator .mat-mdc-paginator-range-label {
  @apply mx-sub text-sm;
}

// mat snackbar
.mat-mdc-snack-bar-container {
  &.message-box {
    &-error {
      --mdc-snackbar-container-color: var(--error);
    }
    &-warning {
      --mdc-snackbar-container-color: var(--warning);
    }
    &-info {
      --mdc-snackbar-container-color: var(--info);
    }
    &-success {
      --mdc-snackbar-container-color: var(--success);
    }
  }
}
