@use 'theme';
@use 'core_styles_util_material';
@use 'loading';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 14px;
    @apply box-border;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  @screen sm {
    html {
      font-size: 13px;
    }
  }

  body {
    @apply text-gray-10 font-light font-poppins;
  }

  h1 {
    @apply text-xxl;
  }

  h2 {
    @apply text-xl text-primary-dark;
  }

  h3 {
    @apply text-lg;
  }

  h4 {
    @apply text-md;
  }

  ul {
    @apply list-disc list-inside;
  }

  li {
    @apply ml-sub mb-sub;
  }

  a {
    @apply text-secondary-dark;
    &:hover {
      @apply underline underline-offset-2;
    }
  }
}
