<ng-template #primaryMenu>
  <nav class="flex h-full items-center main-menu">
    <ul class="flex flex-row justify-start items-center gap-4">
      <li class="flex items-center">
        <button
          matButton
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          {{ 'menu.home' | translate }}
        </button>
      </li>
      <li class="flex items-center">
        <button matButton routerLink="/store" class="active" routerLinkActive="active">
          {{ 'menu.store' | translate }}
        </button>
      </li>
      <li class="flex items-center">
        <button matButton routerLink="/about-us" routerLinkActive="active">
          {{ 'menu.about' | translate }}
        </button>
      </li>
    </ul>
  </nav>
</ng-template>

<ng-template #secondaryMenu>
  <nav>
    <ul class="flex flex-row items-center gap-4">
      <li>
        <button matIconButton type="button" [aria-label]="'menu.view-favorites' | translate">
          <mat-icon>favorite</mat-icon>
        </button>
      </li>
      <li>
        <button matIconButton type="button" [aria-label]="'menu.view-cart' | translate">
          <mat-icon>shopping_cart</mat-icon>
        </button>
      </li>
      <li>
        <button matIconButton type="button" [aria-label]="'menu.profile' | translate">
          <mat-icon>account_circle</mat-icon>
        </button>
      </li>
    </ul>
  </nav>
</ng-template>
