@use '@angular/material' as mat;

:host {
  @include mat.toolbar-overrides(
    (
      standard-height: 50px,
      mobile-height: 40px,
      container-background-color: var(--primary-600),
      container-text-color: var(--primary-50),
      title-text-size: 0.75rem,
    )
  );
}
