@use '@angular/material' as mat;
@use 'palette' as palette;
@import 'font-family';

@layer base {
  :root {
    --base-size: 1rem;
    --scale: 1.2;
    --sub: calc(var(--base-size) * 0.7);
    --tiny: calc(var(--sub) * 0.5);
    --h6: var(--base-size);
    --h5: calc(var(--h6) * var(--scale));
    --h4: calc(1.3rem * var(--scale));
    --h3: calc(1.5rem * var(--scale));
    --h2: calc(1.75rem * var(--scale));
    --h1: calc(2rem * var(--scale));
    --xl: calc(3.5rem * var(--scale));
    --xxl: calc(4.5rem * var(--scale));

    /* Colors */
    --primary-50: #{mat.m2-get-color-from-palette(palette.$md-primary, 50)};
    --primary-100: #{mat.m2-get-color-from-palette(palette.$md-primary, 100)};
    --primary-200: #{mat.m2-get-color-from-palette(palette.$md-primary, 200)};
    --primary-700: #{mat.m2-get-color-from-palette(palette.$md-primary, 700)};
    --primary-500: #{mat.m2-get-color-from-palette(palette.$md-primary, 500)};
    --primary-900: #{mat.m2-get-color-from-palette(palette.$md-primary, 900)};
    --accent-50: #{mat.m2-get-color-from-palette(palette.$md-accent, 50)};
    --accent-100: #{mat.m2-get-color-from-palette(palette.$md-accent, 100)};
    --accent-400: #{mat.m2-get-color-from-palette(palette.$md-accent, 400)};
    --accent-700: #{mat.m2-get-color-from-palette(palette.$md-accent, 700)};
    --accent-900: #{mat.m2-get-color-from-palette(palette.$md-accent, 900)};
    --warn-50: #{mat.m2-get-color-from-palette(palette.$md-warn, 50)};
    --warn-100: #{mat.m2-get-color-from-palette(palette.$md-warn, 100)};
    --warn: #{mat.m2-get-color-from-palette(palette.$md-warn, 500)};
    --warn-700: #{mat.m2-get-color-from-palette(palette.$md-warn, 700)};
    --warn-900: #{mat.m2-get-color-from-palette(palette.$md-warn, 900)};

    /* Tailwind Colors */
    --primary: var(--primary-500);
    --primary-light: var(--primary-100);
    --primary-lighter: var(--primary-50);
    --primary-dark: var(--primary-700);
    --primary-darker: var(--primary-900);
    --secondary: var(--accent-400);
    --secondary-light: var(--accent-100);
    --secondary-dark: var(--accent-700);
    --secondary-lighter: var(--accent-50);
    --secondary-darker: var(--accent-900);

    --white: #ffffff;
    --black: #000000;

    /* Spacing */
    --spacing-tiny: var(--tiny);
    --spacing-sub: var(--sub);
    --spacing-sm: var(--h5);
    --spacing-md: var(--h3);
    --spacing-lg: var(--h1);
    --spacing-xl: var(--xl);
    --spacing-xxl: var(--xxl);

    /* Font Family */
    --sans-serif: 'Nunito Sans', sans-serif;
    /* Font Size */
    --font-size-tiny: var(--tiny);
    --font-size-base: var(--base-size);
    --font-size-sm: var(--sub);
    --font-size-md: var(--h5);
    --font-size-lg: var(--h4);
    --font-size-xl: var(--h3);
    --font-size-xxl: var(--h2);

    /* Table */
    --plastik-mdc-table-row-marked-ok-bg-color: var(--primary-100);
    --plastik-mdc-table-row-marked-ko-bg-color: var(--warn-100);
    --plastik-mdc-table-row-marked-changed-bg-color: var(--accent-100);

    /* Header */
    --mat-toolbar-title-text-size: var(--h4);

    /* Notification Snackbar Boxes */
    --plastik-error-notification-box-color: var(--warn);
    --plastik-info-notification-box-color: rgb(14, 122, 190);
    --plastik-warning-notification-box-color: rgb(221, 148, 20);
    --plastik-success-notification-box-colors: rgb(22, 134, 40);
  }
}
