@use 'material';
@use 'theme';
@use 'core_styles_util_material';
@use 'loading';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 16px;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
    @apply box-border;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    font-family: var(--sans-serif);
  }

  h1,
  .h1 {
    font-size: var(--h1);
  }

  h2,
  .h2 {
    font-size: var(--h2);
  }

  h3,
  .h3 {
    font-size: var(--h3);
  }

  h4,
  .h4 {
    font-size: var(--h4);
  }

  h5,
  .h5 {
    font-size: var(--h5);
  }

  h6,
  .h6 {
    font-size: var(--h6);
  }

  ul {
    @apply list-disc list-inside;
  }

  li {
    @apply ml-sub mb-sub;
  }

  a {
    @apply text-secondary-dark;
    &:hover {
      @apply underline underline-offset-2;
    }
  }

  plastik-shared-activity-ui-overlay .overlay-container {
    z-index: 9999;
  }

  plastik-core-cms-layout-feature {
    .core-cms-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 55px 1fr 55px;
      min-block-size: 100vh;
      min-block-size: 100dvh;

      grid-template-areas: 'header header' 'content content' 'footer footer';

      plastik-core-cms-layout-ui-header {
        grid-area: header;
      }

      plastik-core-cms-layout-ui-sidenav {
        grid-area: content;

        .mat-sidenav-container {
          .mat-sidenav-content {
            height: calc(100vh - 110px);
          }
        }
      }

      plastik-core-cms-layout-ui-footer {
        grid-area: footer;
        align-content: end;
      }
    }
  }
}
