@use '@angular/material' as mat;
@use 'styles_theme-colors' as palette;
@use 'theme';
@use 'loading';
@use 'core_styles_util_material';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: light dark;
    font-size: 15px;
    font-optical-sizing: auto;
    font-style: normal;
    font-synthesis: none;
    font-family: var(--serif);
    font-weight: 400;
    font-variation-settings: 'wdth' 100;
    font-variant-numeric: tabular-nums;

    @include mat.theme(
      (
        color: (
          primary: palette.$primary-palette,
          tertiary: palette.$tertiary-palette,
        ),
        typography: (
          plain-family: var(--serif),
          bold-weight: 800,
          medium-weight: 600,
          regular-weight: 400,
        ),
        density: 0,
      )
    );
  }

  *,
  *:before,
  *:after {
    @apply box-border;
  }

  body {
    background: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    overflow: hidden;
  }

  h1,
  .h1 {
    font-size: var(--h1);
  }

  h2,
  .h2 {
    font-size: var(--h2);
  }

  h3,
  .h3 {
    font-size: var(--h3);
  }

  h4,
  .h4 {
    font-size: var(--h4);
  }

  h5,
  .h5 {
    font-size: var(--h5);
  }

  h6,
  .h6 {
    font-size: var(--h6);
  }

  ul {
    @apply list-disc list-inside;
  }

  li {
    @apply ml-sub mb-sub;
  }

  a {
    @apply underline underline-offset-2 transition-colors duration-300;

    &:hover {
      color: var(--mat-sys-secondary);
      border-color: var(--mat-sys-secondary);
    }
  }

  p {
    @apply text-balance;
  }

  *::-webkit-scrollbar {
    width: 0.8rem;

    &-track {
      @apply bg-gray-20 rounded-md;
    }

    &-thumb {
      @apply bg-primary-light rounded-md;
    }
  }

  plastik-shared-activity-ui-overlay .overlay-container {
    z-index: 9999;
  }
}

@layer components {
  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-primary-container),
      container-text-color: var(--mat-sys-primary),
      standard-height: 55px,
      mobile-height: 55px,
    )
  );

  @include mat.list-overrides(
    (
      list-item-container-color: var(--mat-sys-surface-container),
      list-item-selected-container-color: var(--mat-sys-primary-container),
      list-item-hover-state-layer-opacity: 0.1,
    )
  );

  .active {
    @include mat.list-overrides(
      (
        list-item-container-color: var(--mat-sys-inverse-primary),
      )
    );
  }

  @include mat.sidenav-overrides(
    (
      container-background-color: var(--mat-sys-secondary-container),
      container-text-color: var(--mat-on-sys-container),
      content-background-color: var(--mat-sys-background),
      container-width: 310px,
    )
  );

  @include mat.table-overrides(
    (
      background-color: var(--mat-sys-background),
      header-headline-weight: bold,
      row-item-label-text-tracking: normal,
      row-item-outline-color: var(--mat-sys-outline-variant),
    )
  );

  @include mat.form-field-overrides(
    (
      filled-disabled-label-text-color: var(--mat-sys-outline),
      filled-disabled-input-text-color: var(--mat-sys-outline),
    )
  );

  @include mat.card-overrides(
    (
      elevated-container-color: var(--mat-sys-inverse-on-surface),
    )
  );

  @include mat.progress-spinner-overrides(
    (
      active-indicator-color: var(--mat-sys-inverse-primary),
      size: 40px,
    )
  );
}
