<plastikspace-header>
  <div start>
    <a class="flex items-center content-center justify-between" href="">
      <svg-icon src="assets/img/nasa.svg" svgClass="bg-white text-black w-[100px]"></svg-icon>
      <span class="text-md">NASA Images by Plastikaweb</span>
    </a>
  </div>
  <div end>
    <button mat-icon-button aria-label="sidenav toggle button" button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</plastikspace-header>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" position="end" [(opened)]="opened"> Sidenav content </mat-sidenav>

  <mat-sidenav-content>
    <main class="p-md">
      <div class="bg-secondary-light">
        Angular is an application design framework and development platform for creating efficient and sophisticated single-page apps.
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
