<mat-toolbar class="bg-primary-light">
  <button mat-icon-button aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
  <span class="text-md">My App</span>
  <span class="flex-auto"></span>
  <button mat-icon-button aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" position="end" [(opened)]="opened"> Sidenav content </mat-sidenav>

  <mat-sidenav-content>
    <main class="p-md">
      <div class="bg-secondary-light">
        Angular is an application design framework and development platform for creating efficient and sophisticated single-page apps.
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
