@layer base {
  html {
    font-size: 15px;
    font-optical-sizing: auto;
    font-style: normal;
    font-synthesis: none;
    font-family: var(--font-sans);
    font-weight: var(--font-weight-regular);
    font-variation-settings: 'wdth' 100;
    font-variant-numeric: tabular-nums;

    --app-main-border-radius: var(--radius-large);
    --content-grid-max-width: 1750px;
    --content-detail-max-width: 1400px;

    scroll-padding-top: 120px;

    @media (prefers-reduced-motion: no-preference) {
      scroll-behavior: smooth;
    }
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    color: var(--color-on-background);
    scrollbar-color: var(--primary-200) var(--tertiary-100);
  }

  h1 {
    font-size: var(--font-size-2xl);
  }

  h2 {
    font-size: var(--font-size-xl);
  }

  h3 {
    font-size: var(--font-size-lg);
  }

  h4 {
    font-size: var(--font-size-md);
  }

  h5 {
    font-size: var(--font-size-sm);
  }

  h6 {
    font-size: var(--font-size-xs);
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  p {
    text-wrap: balance;
  }

  button {
    pointer-events: auto;
  }
}

:root {
  --focus-ring-color: rgb(37, 76, 191);
  --focus-ring-width: 2px;
}
