@layer base {
  html {
    font-size: 15px;
    font-optical-sizing: auto;
    font-style: normal;
    font-synthesis: none;
    font-family: var(--font-sans);
    font-weight: var(--font-weight-regular);
    font-variation-settings: 'wdth' 100;
    font-variant-numeric: tabular-nums;

    --app-main-border-radius: var(--radius-large);
    --content-grid-max-width: 1750px;
    --content-detail-max-width: 1400px;
    --translucid-bg: color-mix(in srgb, var(--mat-sys-surface), transparent 35%);

    scroll-padding-top: 120px;

    @media (prefers-reduced-motion: no-preference) {
      scroll-behavior: smooth;
    }
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    color: var(--color-on-background);
    scrollbar-color: var(--primary-200) var(--tertiary-100);
  }

  h1 {
    font-size: var(--text-display-large);
    line-height: var(--leading-display-large);
    letter-spacing: var(--tracking-display-large);
    font-weight: var(--font-weight-display-large);
  }

  h2 {
    font-size: var(--text-headline-large);
    line-height: var(--leading-headline-large);
    letter-spacing: var(--tracking-headline-large);
    font-weight: var(--font-weight-headline-large);
  }

  h3 {
    font-size: var(--text-headline-medium);
    line-height: var(--leading-headline-medium);
    letter-spacing: var(--tracking-headline-medium);
    font-weight: var(--font-weight-headline-medium);
  }

  h4 {
    font-size: var(--text-headline-small);
    line-height: var(--leading-headline-small);
    letter-spacing: var(--tracking-headline-small);
    font-weight: var(--font-weight-headline-small);
  }

  h5 {
    font-size: var(--text-title-large);
    line-height: var(--leading-title-large);
    letter-spacing: var(--tracking-title-large);
    font-weight: var(--font-weight-title-large);
  }

  h6 {
    font-size: var(--text-title-medium);
    line-height: var(--leading-title-medium);
    letter-spacing: var(--tracking-title-medium);
    font-weight: var(--font-weight-title-medium);
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  p {
    text-wrap: balance;
  }

  button {
    pointer-events: auto;
  }

  .bump {
    animation: bump 200ms ease-out;
  }

  @keyframes bump {
    0% {
      transform: scale(1);
      filter: saturate(1);
      border-width: 1px;
    }
    10% {
      transform: scale(0.95);
      filter: saturate(1.5);
      border-width: 2px;
    }
    30% {
      transform: scale(1.05);
      filter: saturate(5);
      border-width: 2px;
    }
    50% {
      transform: scale(1.1);
      filter: saturate(10);
      border-width: 1px;
    }
    100% {
      transform: scale(1);
      filter: saturate(1);
      border-width: 1px;
    }
  }
}

:root {
  --focus-ring-color: rgb(37, 76, 191);
  --focus-ring-width: 2px;
}
