@layer base {
  html {
    font-size: 15px;
    font-optical-sizing: auto;
    font-style: normal;
    font-synthesis: none;
    font-family: var(--default-font-family);
    font-weight: var(--font-weight-regular);
    font-variation-settings: 'wdth' 100;
    font-variant-numeric: tabular-nums;

    --app-main-border-radius: var(--radius-large);
    --content-grid-max-width: 1750px;
    --content-detail-max-width: 1400px;

    scroll-padding-top: 120px;

    @media (prefers-reduced-motion: no-preference) {
      scroll-behavior: smooth;
    }
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* Focus ring -> https://css-tip.com/universal-focus/ */
  html:after {
    content: '';
    position: fixed;
    position-anchor: --focus;
    inset: anchor(inside, 0);
    outline: 2px solid var(--error-500);
    outline-offset: 3px;
    border-radius: 2px;
    pointer-events: none;
    transition: 0.3s;
    z-index: 1000;
  }

  *:focus-visible {
    outline: none;
    anchor-name: --focus;
  }

  body {
    color: var(--color-on-background);
    scrollbar-color: var(--primary-200) var(--tertiary-100);
  }

  h1 {
    font-size: var(--font-size-2xl);
  }

  h2 {
    font-size: var(--font-size-xl);
  }

  h3 {
    font-size: var(--font-size-lg);
  }

  h4 {
    font-size: var(--font-size-md);
  }

  h5 {
    font-size: var(--font-size-sm);
  }

  h6 {
    font-size: var(--font-size-xs);
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  p {
    text-wrap: balance;
  }

  button {
    pointer-events: auto;
  }
}
