@layer utilities {
  .content-container,
  .detail-container,
  .cart-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--spacing-md);
    padding-right: var(--spacing-md);
    width: 100%;

    @media (min-width: theme(--breakpoint-md)) {
      padding-left: var(--spacing-lg);
      padding-right: var(--spacing-lg);
    }
  }

  /** CONTENT CONTAINER - MAX WIDTH **/

  /** DETAIL CONTAINER - MAX WIDTH **/
  .detail-container,
  .cart-container {
    max-width: var(--content-detail-max-width);
  }
}
