@use '@angular/material' as mat;
@use 'eco-style';
@use 'color-palette';
@use 'tailwind-theme';
@use 'tailwindcss';
@use 'core_input_material';
@use 'core_button_material';
@use 'loading';

@layer base {
  html {
    font-size: 15px;
    font-optical-sizing: auto;
    font-style: normal;
    font-synthesis: none;
    font-family: var(--default-font-family);
    font-weight: var(--font-weight-regular);
    font-variation-settings: 'wdth' 100;
    font-variant-numeric: tabular-nums;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    color: var(--color-on-background);
  }

  h1,
  .h1 {
    font-size: var(--font-size-2xl);
  }

  h2,
  .h2 {
    font-size: var(--font-size-xl);
  }

  h3,
  .h3 {
    font-size: var(--font-size-lg);
  }

  h4,
  .h4 {
    font-size: var(--font-size-md);
  }

  h5,
  .h5 {
    font-size: var(--font-size-sm);
  }

  h6,
  .h6 {
    font-size: var(--font-size-xs);
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  p {
    text-wrap: balance;
  }

  button {
    pointer-events: auto;
  }

  :focus-visible {
    outline: 2px dotted var(--focus-ring-color) !important ;
    outline-offset: -5px !important;
  }
}

@layer utilities {
  .no-spinners::-webkit-outer-spin-button,
  .no-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

@layer components {
  @include mat.select-overrides(
    (
      trigger-text-size: 0.8rem,
    )
  );

  @include mat.option-overrides(
    (
      label-text-size: 0.8rem,
    )
  );
}
