# PocketBase Configuration
# By default use environment.staging.ts
# Changing: export POCKETBASE_ENV=development (o staging, production)

# Credentials for LOCAL PocketBase (development)
POCKETBASE_DEV_URL=
POCKETBASE_DEV_ADMIN_EMAIL=
POCKETBASE_DEV_ADMIN_PASSWORD=

# Credentials for REMOTE PocketBase (staging/production)
POCKETBASE_STAGING_URL=
POCKETBASE_STAGING_ADMIN_EMAIL=
POCKETBASE_STAGING_ADMIN_PASSWORD=
